body {
    background-color: #f5f5f5;
    font: 18px/1.5 sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    margin: 0 auto;
}

.vote_list div {
    display: inline-block;
}

.vote_list div:first-of-type {
    float: left;
    width: 100px;
}

.vote_list.title {
    font-weight: bold;
}

.vote_list.vote {

}
